<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <!-- ここに追加したい設定を記述 -->

    <logger name="jp.ijufumi.sample.twitter" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.seasar.doma" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.zaxxer.hikari" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
