<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twitterキャンペーンサンプル</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{/images/} + 'favicon.png'" href="../static/images/favicon.png"
          type="image/png"/>
    <!-- Bootstrap -->
    <link href="../static/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../static/styles/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="page-header"><h2>Twitterキャンペーンリスト</h2></div>

            <a href="javascript:void(0)" th:each="c : ${campaignList}" th:href="@{/campaign/} + *{c.campaignKey}" >
                <div class="panel panel-info campaign-list">
                    <div class="panel-heading campaign-head">
                        <div class="col-md-5" th:text="*{c.campaignName}">
                            ○○○フォローキャンペーン
                        </div>
                        <div class="col-md-7">
                            期間：
                            <time th:text="*{#calendars.format(validStartDate, 'yyyy/MM/dd')}">2017/05/01</time>
                            〜
                            <time th:text="*{#calendars.format(validEndDate, 'yyyy/MM/dd')}">2017/05/31</time>
                        </div>
                    </div>
                    <div class="panel-body">
                        body
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>