<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Task List</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{/images/} + 'favicon.png'" href="../static/images/favicon.png"
          type="image/png"/>
    <!-- Bootstrap -->
    <link href="../static/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
</div>
<div class="row">
    <div layout:fragment="content">
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/bootstrap-3.3.7/js/bootstrap.min.js" th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>