[mysqld_safe]
log-error=/var/log/mysql/mysqld_error.log

[mysqld]
character-set-server=utf8mb4
general_log=1
general_log_file=/var/log/mysql/general.log

innodb_file_per_table

[client]
default-character-set=utf8mb4